.transaction-row {
  display: flex;
  align-items: flex-end;
  gap: 20px;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.transaction-row > div {
  display: flex;
  flex-direction: column;
  min-width: 150px;
}

.transaction-row label {
  font-size: 12px;
  margin-bottom: 4px;
}

.transaction-row button {
  height: 38px;
  align-self: flex-end;
}

.mantine-MonthPickerInput-input {
  font-family: inherit;
}
